folder_path                = [/home/pi/myhome/]
interval_data_details_watt = [30] # in seconds
interval_data_details_m3   = [300] # in seconds
interval_data_summary      = [3600] # in seconds
database                   = [db/P1R.db] # relative w.r.t. the folder path
logging                    = [log/] # relative w.r.t. the folder path
solar_path                 = [http://192.168.2.4/api/v1/production] # url to get solar data  
serial_port_name           = [/dev/ttyUSB0] # identification of the serial port where the data comes in.

