application_path           = [/home/pi/myhome/]
solar_path                 = [http://192.168.2.4] # ip address url (without trailing slash) to get solar data  
solar_system               = [enphase] # solar system version which you are using. Supported systems are: 
                                enphase
                                fronius
serial_port_name           = [/dev/ttyUSB0] # identification of the serial port where the data comes in.
web_port                   = [6701] # the port on which the webservice is available.
