
body {
   background: black;
   color: green;
}

h1 {
   font-size: 2.5em;
   background-color:white;
   color:black;
}

p {
   font-size: 2.5em;
}

.c_highlight {
   color: red;
}

button.main {
   font-size:2em;
   background-color:white;
   color:black;
}

button.main_highlight {
   font-size:2em;
   background-color:yellow;
   color:black;
}

table, canvas {
   margin-left: auto;
   margin-right: auto;
}

table.main {
   font-size: 2.5em;
   color: white;
   border: solid;

}

td.main_center {
   text-align: center;
}

th.main_center {
   text-align: center;
}


