<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
      <link rel="stylesheet" href="../static/style.css/">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
      <script type="text/javascript" src="../static/domotica.js"></script>
   </head>
   <body>
      <h1>{{ app }} - {{ title }}</h1>
      <table><tr>
	{% for item in main_menu %}
	<td><button class="main" onclick="document.location='{{item[1]}}'">{{ item[0] }}</button></td>
	{% endfor %}
	</tr></table>

      <p>Watt using     (W): <span class="c_highlight">{{ consuming_actual }}</span></p>
      <p>Watt receiving (W): <span class="c_highlight">{{ receiving_actual }}</span></p>
      <p>Watt returning (W): <span class="c_highlight">{{ returning_actual }}</span></p>
      <p>Watt producing (W): <span class="c_highlight">{{ producing_actual }}</span></p>
      <p>Gas volume (m3): <span class="c_highlight">{{ m3_1_consumption}}</span></p>

      <canvas id="watt_actuals" width="900" height="400"></canvas>
      <canvas id="watt_day" width="900" height="400"></canvas>
      <canvas id="m3_1_day" width="900" height="400"></canvas>
      <script type="text/javascript">
        var ctx_watt_actuals = document.getElementById("watt_actuals").getContext("2d");
        var watt_actuals = new Chart(ctx_watt_actuals, {
    		type: "line", 
  		data: {
			labels: {{ chan0_labels | safe }},
			datasets: [{
					label: "Actual Watt usage (w)",
					data: {{ chan0_values | safe}},
					fill: false,
					borderColor: "white",
					lineTension:0.1
			            },
                                    {
					label: "Actual Watt return (w)",
					data: {{ chan0_return_values | safe}},
					fill: false,
					borderColor: "green",
					lineTension:0.1
			            },
                                    {
					label: "Actual Watt production (w)",
					data: {{ chan9_values | safe}},
					fill: false,
					borderColor: "red",
					lineTension:0.1
			            }                        ]
		},
		options: {responsive:false, stacked:false,
                          scales: {
                              xAxes:  [{
                                 ticks: {
                                     beginAtZero: true
                                 }
                               }],
                               yAxes: [{
                                 ticks: {
                                     beginAtZero: true
                                 }
                               }],
                               zAxes: [{
                                 ticks: {
                                     beginAtZero: true
                                 }
                               }]
                          }
                         }
        }); 

        var ctx_watt_day = document.getElementById("watt_day").getContext("2d");
        var watt_day = new Chart(ctx_watt_day, {
    		type: "bar", 
  		data: {
			labels: {{ chan0_day_labels | safe }},
			datasets: [{
					label: "Daily Watt usage (Kwh)",
                        		backgroundColor: "white",
					data: {{ chan0_day_values | safe}},
					fill: false,
					borderColor: "rgb(125,192,192)",
					lineTension:0.1
			           },
                                   {
					label: "Daily Watt return (Kwh)",
                        		backgroundColor: "green",
					data: {{ chan0_day_return_values | safe}},
					fill: false,
					borderColor: "rgb(125,192,192)",
					lineTension:0.1
			           }]
		},
		options: {responsive:false,
                          scales: {
                              xAxes:  [{
                                 stacked: true,
                                 ticks: {
                                     beginAtZero: true
                                 }
                               }],
                               yAxes: [{
                                 stacked: true,
                                 ticks: {
                                     beginAtZero: true
                                 }
                               }]
                          }
                         }
        }); 

        var ctx_m3_1_day = document.getElementById("m3_1_day").getContext("2d");
        var m3_1_day = new Chart(ctx_m3_1_day, {
    		type: "bar", 
  		data: {
			labels: {{ chan1_day_labels | safe }},
			datasets: [{
					label: "Daily gas usage (m3)",
                        		backgroundColor: "yellow",
					data: {{ chan1_day_values | safe}},
					fill: false,
					borderColor: "rgb(125,192,192)",
					lineTension:0.1
			}]
		},
		options: {responsive:false}
        }); 
      </script>
   </body>
</html>
