<!DOCTYPE html>
   <head>
      <title>{{ title }} </title>
      <link rel="stylesheet" href="../static/style.css/">
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
      <script type="text/javascript" src="../static/site.js"></script>
   </head>
   <body>
      <h1>{{ app }} - {{ title }} <small>[{{ timeString }}]</small></h1>
      <table><tr>
	{% for item in main_menu %}
	<td>
	  <button class="main{% if item[1]=='/report/' %}_highlight{% endif %}" onclick="document.location='{{item[1]}}'">{{ item[0] }}</button>
	</td>
	{% endfor %}
      </tr></table>
           
      <table><tr>
	<td><button class="main_highlight" onclick="document.location='/report?l={{level_parameter}}&p={{periodm}}'"><<</button></td>  
	{% for item in levels %}
	<td>
	  {% if item[0] == level_name %}
	    <button class="main_highlight" onclick="document.location='{{item[1]}}'">{{ item[0] }}</button>
	  {% else %}
	    <button class="main" onclick="document.location='{{item[1]}}'">{{ item[0] }}</button>
	  {% endif %}
	</td>
	{% endfor %}
	{% if period < 0 %}
	<td><button class="main_highlight" onclick="document.location='/report?l={{level_parameter}}&p={{periodp}}'">>></button></td>
	{% endif %}
      </tr></table>
      <table class="main_basic"><tr>	
        <td class="main">Between {{starttimestamp}}</td><td class="main"> and </td><td class="main">{{endtimestamp}}</td>
      </tr></table>
      <br>

      <table class="main">
	{% for key, value in chan_delta.items() %}
	{% if value[2]>0 %}<tr><td>{{value[0]}}</td><td>{{value[2]}}</td><td>{{value[1]}}</td></tr>{% endif %}
	{% endfor %}
      </table>
      <br>
      <canvas id="watt_day" width="900" height="400"></canvas>
      {% if chan1_labels|length > 0%}<canvas id="m3_1_day" width="900" height="400"></canvas>{% endif %}
      {% if chan2_labels|length > 0%}<canvas id="m3_2_day" width="900" height="400"></canvas>{% endif %}
      {% if chan3_labels|length > 0%}<canvas id="m3_3_day" width="900" height="400"></canvas>{% endif %}
      {% if chan4_labels|length > 0%}<canvas id="m3_4_day" width="900" height="400"></canvas>{% endif %}
      <script type="text/javascript">

        var ctx_watt_day = document.getElementById("watt_day").getContext("2d");
        var watt_day = new Chart(ctx_watt_day, {
    		type: "bar", 
  		data: {
			labels: {{ chan0_labels | safe }},
			datasets: [{
					label: "Periodic Watt usage (Kwh)",
                        		backgroundColor: "white",
					data: {{ chan0_values | safe}},
					fill: false,
					borderColor: "rgb(125,192,192)",
					lineTension:0.1
			           },
                                   {
					label: "Periodic Watt return (Kwh)",
                        		backgroundColor: "green",
					data: {{ chan0_return_values | safe}},
					fill: false,
					borderColor: "rgb(125,192,192)",
					lineTension:0.1
			           },
				                                      {
					label: "Periodic Watt production (Kwh)",
                        		backgroundColor: "red",
					data: {{ chan9_production_values | safe}},
					fill: false,
					borderColor: "rgb(125,192,192)",
					lineTension:0.1
			           }]
		},
		options: {responsive:false,
                          scales: {
                              xAxes:  [{
                                 stacked: false,
                                 ticks: {}
                               }],
                               yAxes: [{
                                 stacked: false,
                                 ticks: {}
                               }],
                               zAxes: [{
                                 stacked: false,
                                 ticks: {}
                               }]
			    }
                         }
        }); 

	{% if chan1_labels|length > 0 %}
        var ctx_m3_1_day = document.getElementById("m3_1_day").getContext("2d");
        var m3_1_day = new Chart(ctx_m3_1_day, {
    		type: "bar", 
  		data: {
			labels: {{ chan1_labels | safe }},
			datasets: [{
					label: "Daily channel 1 usage (m3)",
                        		backgroundColor: "yellow",
					data: {{ chan1_values | safe}},
					fill: false,
					borderColor: "rgb(125,192,192)",
					lineTension:0.1
			}]
		},
		options: {responsive:false}
        }); 
	{% endif %}

	{% if chan2_labels|length > 0 %}
        var ctx_m3_2_day = document.getElementById("m3_2_day").getContext("2d");
        var m3_2_day = new Chart(ctx_m3_2_day, {
    		type: "bar", 
  		data: {
			labels: {{ chan2_labels | safe }},
			datasets: [{
					label: "Daily channel 2 usage (m3)",
                        		backgroundColor: "yellow",
					data: {{ chan2_values | safe}},
					fill: false,
					borderColor: "rgb(125,192,192)",
					lineTension:0.1
			}]
		},
		options: {responsive:false}
        }); 
	{% endif %}

	{% if chan3_labels|length > 0 %}
        var ctx_m3_3_day = document.getElementById("m3_3_day").getContext("2d");
        var m3_3_day = new Chart(ctx_m3_3_day, {
    		type: "bar", 
  		data: {
			labels: {{ chan3_labels | safe }},
			datasets: [{
					label: "Daily channel 3 usage (m3)",
                        		backgroundColor: "yellow",
					data: {{ chan3_values | safe}},
					fill: false,
					borderColor: "rgb(125,192,192)",
					lineTension:0.1
			}]
		},
		options: {responsive:false}
        }); 
	{% endif %}

	{% if chan4_labels|length > 0 %}
        var ctx_m3_4_day = document.getElementById("m3_4_day").getContext("2d");
        var m3_4_day = new Chart(ctx_m3_4_day, {
    		type: "bar", 
  		data: {
			labels: {{ chan4_labels | safe }},
			datasets: [{
					label: "Daily channel 4 usage (m3)",
                        		backgroundColor: "yellow",
					data: {{ chan4_values | safe}},
					fill: false,
					borderColor: "rgb(125,192,192)",
					lineTension:0.1
			}]
		},
		options: {responsive:false}
        }); 
	{% endif %}
      </script>
   </body>
</html>
